<a href="https://colab.research.google.com/github/hario27/PositionChecker/blob/master/3%E5%88%86%E8%B6%B3RSI%E3%83%88%E3%83%AC%E3%83%BC%E3%83%89_ipynb_%E3%81%AE%E3%82%B3%E3%83%94%E3%83%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

モジュール読み込み

In [81]:
!curl -L http://prdownloads.sourceforge.net/ta-lib/ta-lib-0.4.0-src.tar.gz -O && tar xzvf ta-lib-0.4.0-src.tar.gz
!cd ta-lib && ./configure --prefix=/usr && make && make install && cd - && pip install ta-lib
!pip install tqdm
!pip install plotly --upgrade

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   380  100   380    0     0   1696      0 --:--:-- --:--:-- --:--:--  1696
100   361  100   361    0     0    880      0 --:--:-- --:--:-- --:--:--  2299
100 1299k  100 1299k    0     0  1617k      0 --:--:-- --:--:-- --:--:-- 1617k
ta-lib/
ta-lib/config.sub
ta-lib/aclocal.m4
ta-lib/CHANGELOG.TXT
ta-lib/include/
ta-lib/include/ta_abstract.h
ta-lib/include/ta_func.h
ta-lib/include/ta_common.h
ta-lib/include/ta_config.h.in
ta-lib/include/Makefile.am
ta-lib/include/ta_libc.h
ta-lib/include/ta_defs.h
ta-lib/missing
ta-lib/ta-lib.spec.in
ta-lib/config.guess
ta-lib/Makefile.in
ta-lib/ta-lib.dpkg.in
ta-lib/Makefile.am
ta-lib/autogen.sh
ta-lib/install-sh
ta-lib/configure
ta-lib/depcomp
ta-lib/HISTORY.TXT
ta-lib/configure.in
ta-lib/autom4te.cache/
ta-lib/autom4te.cache/output.0
ta-lib/autom4te.cache/requests
ta-lib/autom4te.cache/output.1
ta-lib/autom4te.cache/traces.0
ta-lib/autom4te.cache/traces.1
ta-lib/ltmain.sh
ta-lib/ta-lib-config.in
ta-lib/src/
ta-lib/src/ta_func/
ta-lib/src/ta_func/ta_MACDFIX.c
ta-lib/src/ta_func/ta_CDLPIERCING.c
ta-lib/src/ta_func/ta_DIV.c
ta-lib/src/ta_func/ta_ROCR100.c
ta-lib/src/ta_func/ta_ADXR.c
ta-lib/src/ta_func/ta_MAVP.c
ta-lib/src/ta_func/ta_CDLCLOSINGMARUBOZU.c
ta-lib/src/ta_func/ta_COSH.c
ta-lib/src/ta_func/ta_EXP.c
ta-lib/src/ta_func/ta_MINMAXINDEX.c
ta-lib/src/ta_func/ta_SQRT.c
ta-lib/src/ta_func/ta_FLOOR.c
ta-lib/src/ta_func/ta_CDLCONCEALBABYSWALL.c
ta-lib/src/ta_func/ta_NATR.c
ta-lib/src/ta_func/ta_CDLHARAMICROSS.c
ta-lib/src/ta_func/ta_MINUS_DM.c
ta-lib/src/ta_func/ta_LOG10.c
ta-lib/src/ta_func/ta_LINEARREG_ANGLE.c
ta-lib/src/ta_func/ta_RSI.c
ta-lib/src/ta_func/ta_CDLABANDONEDBABY.c
ta-lib/src/ta_func/ta_SAR.c
ta-lib/src/ta_func/ta_CDLBREAKAWAY.c
ta-lib/src/ta_func/ta_CDLDRAGONFLYDOJI.c
ta-lib/src/ta_func/ta_CDLHIGHWAVE.c
ta-lib/src/ta_func/ta_CDLKICKING.c
ta-lib/src/ta_func/ta_CDLDOJISTAR.c
ta-lib/src/ta_func/ta_VAR.c
ta-lib/src/ta_func/ta_CDLMATCHINGLOW.c
ta-lib/src/ta_func/ta_CDLGAPSIDESIDEWHITE.c
ta-lib/src/ta_func/ta_CDLMARUBOZU.c
ta-lib/src/ta_func/ta_AROONOSC.c
ta-lib/src/ta_func/ta_WCLPRICE.c
ta-lib/src/ta_func/ta_CDLEVENINGDOJISTAR.c
ta-lib/src/ta_func/ta_CDL3INSIDE.c
ta-lib/src/ta_func/ta_OBV.c
ta-lib/src/ta_func/ta_AROON.c
ta-lib/src/ta_func/ta_CDLBELTHOLD.c
ta-lib/src/ta_func/ta_CDLSPINNINGTOP.c
ta-lib/src/ta_func/ta_AD.c
ta-lib/src/ta_func/ta_MAX.c
ta-lib/src/ta_func/ta_CDLENGULFING.c
ta-lib/src/ta_func/ta_MINMAX.c
ta-lib/src/ta_func/ta_CDLINNECK.c
ta-lib/src/ta_func/ta_STDDEV.c
ta-lib/src/ta_func/ta_NVI.c
ta-lib/src/ta_func/ta_CDLHAMMER.c
ta-lib/src/ta_func/ta_ASIN.c
ta-lib/src/ta_func/ta_SUM.c
ta-lib/src/ta_func/ta_STOCH.c
ta-lib/src/ta_func/ta_CDLLONGLEGGEDDOJI.c
ta-lib/src/ta_func/ta_MEDPRICE.c
ta-lib/src/ta_func/ta_CDL3STARSINSOUTH.c
ta-lib/src/ta_func/ta_HT_TRENDMODE.c
ta-lib/src/ta_func/ta_BBANDS.c
ta-lib/src/ta_func/ta_CDLMORNINGSTAR.c
ta-lib/src/ta_func/ta_HT_DCPHASE.c
ta-lib/src/ta_func/ta_CDLLONGLINE.c
ta-lib/src/ta_func/ta_TAN.c
ta-lib/src/ta_func/ta_SMA.c
ta-lib/src/ta_func/ta_DX.c
ta-lib/src/ta_func/ta_MIDPOINT.c
ta-lib/src/ta_func/ta_CDL2CROWS.c
ta-lib/src/ta_func/ta_CORREL.c
ta-lib/src/ta_func/ta_CDL3BLACKCROWS.c
ta-lib/src/ta_func/ta_ADD.c
ta-lib/src/ta_func/Makefile.in
ta-lib/src/ta_func/ta_CDLTHRUSTING.c
ta-lib/src/ta_func/ta_SUB.c
ta-lib/src/ta_func/ta_CDLSTALLEDPATTERN.c
ta-lib/src/ta_func/ta_CDLTRISTAR.c
ta-lib/src/ta_func/ta_MA.c
ta-lib/src/ta_func/ta_HT_SINE.c
ta-lib/src/ta_func/ta_ACOS.c
ta-lib/src/ta_func/ta_CDLSTICKSANDWICH.c
ta-lib/src/ta_func/ta_SINH.c
ta-lib/src/ta_func/ta_utility.h
ta-lib/src/ta_func/ta_CDLSHORTLINE.c
ta-lib/src/ta_func/ta_ATAN.c
ta-lib/src/ta_func/ta_CDLADVANCEBLOCK.c
ta-lib/src/ta_func/ta_CDLKICKINGBYLENGTH.c
ta-lib/src/ta_func/ta_CDLSHOOTINGSTAR.c
ta-lib/src/ta_func/ta_ROCR.c
ta-lib/src/ta_func/ta_WMA.c
ta-lib/src/ta_func/ta_CDLDARKCLOUDCOVER.c
ta-lib/src/ta_func/ta_CDLXSIDEGAP3METHODS.c
ta-lib/src/ta_func/ta_TYPPRICE.c
ta-lib/src/ta_func/ta_CDL3WHITESOLDIERS.c
ta-lib/src/ta_func/Makefile.am
ta-lib/src/ta_func/ta_MACDEXT.c
ta-lib/src/ta_func/ta_ADX.c
ta-lib/src/ta_func/ta_PLUS_DM.c
ta-lib/src/ta_func/ta_CDLUPSIDEGAP2CROWS.c
ta-lib/src/ta_func/ta_LN.c
ta-lib/src/ta_func/ta_DEMA.c
ta-lib/src/ta_func/ta_CDL3OUTSIDE.c
ta-lib/src/ta_func/ta_CDLTASUKIGAP.c
ta-lib/src/ta_func/ta_MAMA.c
ta-lib/src/ta_func/ta_CDLMORNINGDOJISTAR.c
ta-lib/src/ta_func/ta_PLUS_DI.c
ta-lib/src/ta_func/ta_MININDEX.c
ta-lib/src/ta_func/ta_COS.c
ta-lib/src/ta_func/ta_HT_TRENDLINE.c
ta-lib/src/ta_func/ta_MIDPRICE.c
ta-lib/src/ta_func/ta_CEIL.c
ta-lib/src/ta_func/ta_TRIMA.c
ta-lib/src/ta_func/ta_CDLSEPARATINGLINES.c
ta-lib/src/ta_func/ta_ROCP.c
ta-lib/src/ta_func/ta_CDLHOMINGPIGEON.c
ta-lib/src/ta_func/ta_CDLHANGINGMAN.c
ta-lib/src/ta_func/ta_AVGPRICE.c
ta-lib/src/ta_func/ta_APO.c
ta-lib/src/ta_func/ta_CDLRISEFALL3METHODS.c
ta-lib/src/ta_func/ta_TRANGE.c
ta-lib/src/ta_func/ta_TSF.c
ta-lib/src/ta_func/ta_LINEARREG.c
ta-lib/src/ta_func/ta_PVI.c
ta-lib/src/ta_func/ta_CDLHIKKAKEMOD.c
ta-lib/src/ta_func/ta_MFI.c
ta-lib/src/ta_func/ta_CDLHARAMI.c
ta-lib/src/ta_func/ta_MACD.c
ta-lib/src/ta_func/ta_BETA.c
ta-lib/src/ta_func/ta_CDLINVERTEDHAMMER.c
ta-lib/src/ta_func/ta_LINEARREG_SLOPE.c
ta-lib/src/ta_func/ta_STOCHF.c
ta-lib/src/ta_func/ta_MIN.c
ta-lib/src/ta_func/ta_CDLIDENTICAL3CROWS.c
ta-lib/src/ta_func/ta_CDLRICKSHAWMAN.c
ta-lib/src/ta_func/ta_T3.c
ta-lib/src/ta_func/ta_CDLMATHOLD.c
ta-lib/src/ta_func/ta_CDLUNIQUE3RIVER.c
ta-lib/src/ta_func/ta_ADOSC.c
ta-lib/src/ta_func/ta_MAXINDEX.c
ta-lib/src/ta_func/ta_ULTOSC.c
ta-lib/src/ta_func/ta_TRIX.c
ta-lib/src/ta_func/ta_MOM.c
ta-lib/src/ta_func/ta_CDLDOJI.c
ta-lib/src/ta_func/ta_EMA.c
ta-lib/src/ta_func/ta_STOCHRSI.c
ta-lib/src/ta_func/ta_ROC.c
ta-lib/src/ta_func/ta_CDLEVENINGSTAR.c
ta-lib/src/ta_func/ta_CDLCOUNTERATTACK.c
ta-lib/src/ta_func/ta_LINEARREG_INTERCEPT.c
ta-lib/src/ta_func/ta_SAREXT.c
ta-lib/src/ta_func/ta_WILLR.c
ta-lib/src/ta_func/ta_MULT.c
ta-lib/src/ta_func/ta_ATR.c
ta-lib/src/ta_func/ta_BOP.c
ta-lib/src/ta_func/ta_CMO.c
ta-lib/src/ta_func/ta_CDLONNECK.c
ta-lib/src/ta_func/ta_CCI.c
ta-lib/src/ta_func/ta_CDLLADDERBOTTOM.c
ta-lib/src/ta_func/ta_HT_PHASOR.c
ta-lib/src/ta_func/ta_utility.c
ta-lib/src/ta_func/ta_PPO.c
ta-lib/src/ta_func/ta_CDLHIKKAKE.c
ta-lib/src/ta_func/ta_HT_DCPERIOD.c
ta-lib/src/ta_func/ta_CDL3LINESTRIKE.c
ta-lib/src/ta_func/ta_TEMA.c
ta-lib/src/ta_func/ta_SIN.c
ta-lib/src/ta_func/ta_MINUS_DI.c
ta-lib/src/ta_func/ta_KAMA.c
ta-lib/src/ta_func/ta_TANH.c
ta-lib/src/ta_func/ta_CDLTAKURI.c
ta-lib/src/ta_func/ta_CDLGRAVESTONEDOJI.c
ta-lib/src/ta_common/
ta-lib/src/ta_common/ta_pragma.h
ta-lib/src/ta_common/ta_magic_nb.h
ta-lib/src/ta_common/ta_retcode.csv
ta-lib/src/ta_common/Makefile.in
ta-lib/src/ta_common/Makefile.am
ta-lib/src/ta_common/ta_memory.h
ta-lib/src/ta_common/ta_version.c
ta-lib/src/ta_common/ta_global.h
ta-lib/src/ta_common/ta_global.c
ta-lib/src/ta_common/ta_retcode.c
ta-lib/src/Makefile.in
ta-lib/src/ta_abstract/
ta-lib/src/ta_abstract/frames/
ta-lib/src/ta_abstract/frames/ta_frame.c
ta-lib/src/ta_abstract/frames/ta_frame.h
ta-lib/src/ta_abstract/excel_glue.c
ta-lib/src/ta_abstract/ta_frame_priv.h
ta-lib/src/ta_abstract/ta_func_api.c
ta-lib/src/ta_abstract/Makefile.in
ta-lib/src/ta_abstract/ta_def_ui.h
ta-lib/src/ta_abstract/Makefile.am
ta-lib/src/ta_abstract/ta_abstract.c
ta-lib/src/ta_abstract/ta_group_idx.c
ta-lib/src/ta_abstract/tables/
ta-lib/src/ta_abstract/tables/table_u.c
ta-lib/src/ta_abstract/tables/table_x.c
ta-lib/src/ta_abstract/tables/table_r.c
ta-lib/src/ta_abstract/tables/table_f.c
ta-lib/src/ta_abstract/tables/table_j.c
ta-lib/src/ta_abstract/tables/table_e.c
ta-lib/src/ta_abstract/tables/table_t.c
ta-lib/src/ta_abstract/tables/table_n.c
ta-lib/src/ta_abstract/tables/table_i.c
ta-lib/src/ta_abstract/tables/table_c.c
ta-lib/src/ta_abstract/tables/table_l.c
ta-lib/src/ta_abstract/tables/table_k.c
ta-lib/src/ta_abstract/tables/table_g.c
ta-lib/src/ta_abstract/tables/table_d.c
ta-lib/src/ta_abstract/tables/table_h.c
ta-lib/src/ta_abstract/tables/table_o.c
ta-lib/src/ta_abstract/tables/table_b.c
ta-lib/src/ta_abstract/tables/table_q.c
ta-lib/src/ta_abstract/tables/table_v.c
ta-lib/src/ta_abstract/tables/table_m.c
ta-lib/src/ta_abstract/tables/table_s.c
ta-lib/src/ta_abstract/tables/table_y.c
ta-lib/src/ta_abstract/tables/table_p.c
ta-lib/src/ta_abstract/tables/table_z.c
ta-lib/src/ta_abstract/tables/table_a.c
ta-lib/src/ta_abstract/tables/table_w.c
ta-lib/src/ta_abstract/ta_def_ui.c
ta-lib/src/ta_abstract/templates/
ta-lib/src/ta_abstract/templates/ta_x.c.template
ta-lib/src/ta_abstract/templates/ta_java_defs.h.template
ta-lib/src/ta_abstract/templates/excel_glue.c.template
ta-lib/src/ta_abstract/templates/ta_group_idx.c.template
ta-lib/src/ta_abstract/templates/ta_frame.c.template
ta-lib/src/ta_abstract/templates/CoreAnnotated.java.template
ta-lib/src/ta_abstract/templates/ta_func.h.template
ta-lib/src/ta_abstract/templates/ta_frame.h.template
ta-lib/src/ta_abstract/templates/Makefile.am.template
ta-lib/src/ta_abstract/templates/ta_func_api.c.template
ta-lib/src/ta_abstract/templates/ta_func.swg.template
ta-lib/src/ta_abstract/templates/ta_retcode.c.template
ta-lib/src/ta_abstract/ta_java_defs.h
ta-lib/src/Makefile.am
ta-lib/src/tools/
ta-lib/src/tools/ta_regtest/
ta-lib/src/tools/ta_regtest/test_util.c
ta-lib/src/tools/ta_regtest/ta_test_func.h
ta-lib/src/tools/ta_regtest/test_data.c
ta-lib/src/tools/ta_regtest/ta_gDataHigh.c
ta-lib/src/tools/ta_regtest/Makefile.in
ta-lib/src/tools/ta_regtest/test_internals.c
ta-lib/src/tools/ta_regtest/Makefile.am
ta-lib/src/tools/ta_regtest/ta_regtest.c
ta-lib/src/tools/ta_regtest/ta_gDataOpen.c
ta-lib/src/tools/ta_regtest/ta_gDataClose.c
ta-lib/src/tools/ta_regtest/test_abstract.c
ta-lib/src/tools/ta_regtest/ta_test_func/
ta-lib/src/tools/ta_regtest/ta_test_func/test_bbands.c
ta-lib/src/tools/ta_regtest/ta_test_func/test_stddev.c
ta-lib/src/tools/ta_regtest/ta_test_func/test_1in_2out.c
ta-lib/src/tools/ta_regtest/ta_test_func/test_sar.c
ta-lib/src/tools/ta_regtest/ta_test_func/test_1in_1out.c
ta-lib/src/tools/ta_regtest/ta_test_func/test_trange.c
ta-lib/src/tools/ta_regtest/ta_test_func/test_macd.c
ta-lib/src/tools/ta_regtest/ta_test_func/test_po.c
ta-lib/src/tools/ta_regtest/ta_test_func/test_per_hlc.c
ta-lib/src/tools/ta_regtest/ta_test_func/test_mom.c
ta-lib/src/tools/ta_regtest/ta_test_func/test_per_ohlc.c
ta-lib/src/tools/ta_regtest/ta_test_func/test_adx.c
ta-lib/src/tools/ta_regtest/ta_test_func/test_candlestick.c
ta-lib/src/tools/ta_regtest/ta_test_func/test_rsi.c
ta-lib/src/tools/ta_regtest/ta_test_func/test_per_ema.c
ta-lib/src/tools/ta_regtest/ta_test_func/test_minmax.c
ta-lib/src/tools/ta_regtest/ta_test_func/test_per_hlcv.c
ta-lib/src/tools/ta_regtest/ta_test_func/test_per_hl.c
ta-lib/src/tools/ta_regtest/ta_test_func/test_stoch.c
ta-lib/src/tools/ta_regtest/ta_test_func/test_ma.c
ta-lib/src/tools/ta_regtest/ta_error_number.h
ta-lib/src/tools/ta_regtest/ta_test_priv.h
ta-lib/src/tools/ta_regtest/ReadMe.txt
ta-lib/src/tools/ta_regtest/ta_gDataLow.c
ta-lib/src/tools/Makefile.in
ta-lib/src/tools/Makefile.am
ta-lib/src/tools/gen_code/
ta-lib/src/tools/gen_code/java/
ta-lib/src/tools/gen_code/java/PrettyCode.java
ta-lib/src/tools/gen_code/java/Main.java
ta-lib/src/tools/gen_code/gen_code.c
ta-lib/src/tools/gen_code/Makefile.in
ta-lib/src/tools/gen_code/Makefile.am
ta-lib/src/tools/gen_code/mcpp.exe
checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
checking for a thread-safe mkdir -p... /bin/mkdir -p
checking for gawk... no
checking for mawk... mawk
checking whether make sets $(MAKE)... yes
checking for gcc... gcc
checking for C compiler default output file name... a.out
checking whether the C compiler works... yes
checking whether we are cross compiling... no
checking for suffix of executables...
checking for suffix of object files... o
checking whether we are using the GNU C compiler... yes
checking whether gcc accepts -g... yes
checking for gcc option to accept ISO C89... none needed
checking for style of include used by make... GNU
checking dependency style of gcc... gcc3
checking build system type... x86_64-unknown-linux-gnu
checking host system type... x86_64-unknown-linux-gnu
checking for a sed that does not truncate output... /bin/sed
checking for grep that handles long lines and -e... /bin/grep
checking for egrep... /bin/grep -E
checking for ld used by gcc... /usr/bin/ld
checking if the linker (/usr/bin/ld) is GNU ld... yes
checking for /usr/bin/ld option to reload object files... -r
checking for BSD-compatible nm... /usr/bin/nm -B
checking whether ln -s works... yes
checking how to recognise dependent libraries... pass_all
./configure: line 4354: /usr/bin/file: No such file or directory
checking how to run the C preprocessor... gcc -E
checking for ANSI C header files... yes
checking for sys/types.h... yes
checking for sys/stat.h... yes
checking for stdlib.h... yes
checking for string.h... yes
checking for memory.h... yes
checking for strings.h... yes
checking for inttypes.h... yes
checking for stdint.h... yes
checking for unistd.h... yes
checking dlfcn.h usability... yes
checking dlfcn.h presence... yes
checking for dlfcn.h... yes
checking for g++... g++
checking whether we are using the GNU C++ compiler... yes
checking whether g++ accepts -g... yes
checking dependency style of g++... gcc3
checking how to run the C++ preprocessor... g++ -E
checking for g77... no
checking for xlf... no
checking for f77... f77
checking whether we are using the GNU Fortran 77 compiler... yes
checking whether f77 accepts -g... yes
checking the maximum length of command line arguments... 32768
checking command to parse /usr/bin/nm -B output from gcc object... ok
checking for objdir... .libs
checking for ar... ar
checking for ranlib... ranlib
checking for strip... strip
checking if gcc supports -fno-rtti -fno-exceptions... no
checking for gcc option to produce PIC... -fPIC
checking if gcc PIC flag -fPIC works... yes
checking if gcc static flag -static works... yes
checking if gcc supports -c -o file.o... yes
checking whether the gcc linker (/usr/bin/ld) supports shared libraries... yes
checking whether -lc should be explicitly linked in... no
checking dynamic linker characteristics... GNU/Linux ld.so
checking how to hardcode library paths into programs... immediate
checking whether stripping libraries is possible... yes
checking if libtool supports shared libraries... yes
checking whether to build shared libraries... yes
checking whether to build static libraries... yes
configure: creating libtool
appending configuration tag "CXX" to libtool
checking for ld used by g++... /usr/bin/ld
checking if the linker (/usr/bin/ld) is GNU ld... yes
checking whether the g++ linker (/usr/bin/ld) supports shared libraries... yes
checking for g++ option to produce PIC... -fPIC
checking if g++ PIC flag -fPIC works... yes
checking if g++ static flag -static works... yes
checking if g++ supports -c -o file.o... yes
checking whether the g++ linker (/usr/bin/ld) supports shared libraries... yes
checking dynamic linker characteristics... GNU/Linux ld.so
checking how to hardcode library paths into programs... immediate
appending configuration tag "F77" to libtool
checking if libtool supports shared libraries... yes
checking whether to build shared libraries... yes
checking whether to build static libraries... yes
checking for f77 option to produce PIC... -fPIC
checking if f77 PIC flag -fPIC works... yes
checking if f77 static flag -static works... yes
checking if f77 supports -c -o file.o... yes
checking whether the f77 linker (/usr/bin/ld) supports shared libraries... yes
checking dynamic linker characteristics... GNU/Linux ld.so
checking how to hardcode library paths into programs... immediate
checking for dlopen in -ldl... yes
checking for pthread_create in -lpthread... yes
checking for ANSI C header files... (cached) yes
checking float.h usability... yes
checking float.h presence... yes
checking for float.h... yes
checking for inttypes.h... (cached) yes
checking limits.h usability... yes
checking limits.h presence... yes
checking for limits.h... yes
checking locale.h usability... yes
checking locale.h presence... yes
checking for locale.h... yes
checking stddef.h usability... yes
checking stddef.h presence... yes
checking for stddef.h... yes
checking for stdint.h... (cached) yes
checking for stdlib.h... (cached) yes
checking for string.h... (cached) yes
checking for unistd.h... (cached) yes
checking wchar.h usability... yes
checking wchar.h presence... yes
checking for wchar.h... yes
checking wctype.h usability... yes
checking wctype.h presence... yes
checking for wctype.h... yes
checking for an ANSI C-conforming const... yes
checking for size_t... yes
checking whether struct tm is in sys/time.h or time.h... time.h
checking for working volatile... yes
checking for ptrdiff_t... yes
checking return type of signal handlers... void
checking for working strcoll... yes
checking for strftime... yes
checking for working strtod... yes
checking for vprintf... yes
checking for _doprnt... no
checking for floor... no
checking for isascii... yes
checking for localeconv... yes
checking for mblen... yes
checking for memmove... yes
checking for memset... yes
checking for modf... yes
checking for pow... no
checking for sqrt... no
checking for strcasecmp... yes
checking for strchr... yes
checking for strerror... yes
checking for strncasecmp... yes
checking for strrchr... yes
checking for strstr... yes
checking for strtol... yes
checking for strtoul... yes
configure: creating ./config.status
config.status: creating Makefile
config.status: creating src/Makefile
config.status: creating src/ta_abstract/Makefile
config.status: creating src/ta_common/Makefile
config.status: creating src/ta_func/Makefile
config.status: creating src/tools/Makefile
config.status: creating src/tools/gen_code/Makefile
config.status: creating src/tools/ta_regtest/Makefile
config.status: creating ta-lib-config
config.status: creating ta-lib.spec
config.status: creating ta-lib.dpkg
config.status: creating include/ta_config.h
config.status: include/ta_config.h is unchanged
config.status: executing depfiles commands
Making all in src
make[1]: Entering directory '/content/ta-lib/src'
Making all in ta_abstract
make[2]: Entering directory '/content/ta-lib/src/ta_abstract'
make[2]: Nothing to be done for 'all'.
make[2]: Leaving directory '/content/ta-lib/src/ta_abstract'
Making all in ta_common
make[2]: Entering directory '/content/ta-lib/src/ta_common'
make[2]: Nothing to be done for 'all'.
make[2]: Leaving directory '/content/ta-lib/src/ta_common'
Making all in ta_func
make[2]: Entering directory '/content/ta-lib/src/ta_func'
make[2]: Nothing to be done for 'all'.
make[2]: Leaving directory '/content/ta-lib/src/ta_func'
make[2]: Entering directory '/content/ta-lib/src'
make[2]: Nothing to be done for 'all-am'.
make[2]: Leaving directory '/content/ta-lib/src'
make[1]: Leaving directory '/content/ta-lib/src'
Making all in src/tools
make[1]: Entering directory '/content/ta-lib/src/tools'
Making all in gen_code
make[2]: Entering directory '/content/ta-lib/src/tools/gen_code'
make  gen_code
make[3]: Entering directory '/content/ta-lib/src/tools/gen_code'
make[3]: 'gen_code' is up to date.
make[3]: Leaving directory '/content/ta-lib/src/tools/gen_code'
cp gen_code ../../../bin
make[2]: Leaving directory '/content/ta-lib/src/tools/gen_code'
Making all in ta_regtest
make[2]: Entering directory '/content/ta-lib/src/tools/ta_regtest'
make[2]: Nothing to be done for 'all'.
make[2]: Leaving directory '/content/ta-lib/src/tools/ta_regtest'
make[2]: Entering directory '/content/ta-lib/src/tools'
make[2]: Nothing to be done for 'all-am'.
make[2]: Leaving directory '/content/ta-lib/src/tools'
make[1]: Leaving directory '/content/ta-lib/src/tools'
make[1]: Entering directory '/content/ta-lib'

In [82]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import talib as ta

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

データ読み込み

In [83]:
df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/price_data/USDJPY_M1_200701020000_201912312356.csv", sep='\t')
df.head()

       <DATE>    <TIME>  <OPEN>  <HIGH>  ...  <CLOSE>  <TICKVOL>  <VOL>  <SPREAD>
0  2007.01.02  00:00:00  118.98  118.98  ...   118.94          8      0        30
1  2007.01.02  00:01:00  118.97  118.97  ...   118.96          4      0        30
2  2007.01.02  00:02:00  118.97  118.97  ...   118.95          5      0        30
3  2007.01.02  00:03:00  118.97  118.97  ...   118.94          4      0        30
4  2007.01.02  00:04:00  118.97  118.97  ...   118.95          3      0        30

[5 rows x 9 columns]

In [84]:
df.describe()

             <OPEN>        <HIGH>  ...         <VOL>      <SPREAD>
count  4.725383e+06  4.725383e+06  ...  4.725383e+06  4.725383e+06
mean   1.019507e+02  1.019599e+02  ...  1.776567e+07  1.490621e+01
std    1.346174e+01  1.346246e+01  ...  5.386321e+07  1.062501e+01
min    7.560700e+01  7.562000e+01  ...  0.000000e+00  1.000000e+00
25%    9.121200e+01  9.122200e+01  ...  0.000000e+00  8.000000e+00
50%    1.047570e+02  1.047680e+02  ...  0.000000e+00  1.100000e+01
75%    1.119570e+02  1.119640e+02  ...  0.000000e+00  2.600000e+01
max    1.258130e+02  1.258530e+02  ...  3.688250e+09  3.000000e+02

[8 rows x 7 columns]

In [85]:
df.columns = ["date", "time", "open", "high", "low", "close", "tickvol", "vol", "spread"]
df = df.drop(["vol", "spread", "tickvol"], axis=1)
df.columns

Index(['date', 'time', 'open', 'high', 'low', 'close'], dtype='object')

In [86]:
# 日付のフォーマット変更及びindex化
df["datetime"] = df['date'] + " " + df["time"]
df["datetime"] = pd.to_datetime(df['datetime'])
df.set_index("datetime", inplace=True)
df.head()

                           date      time    open    high     low   close
datetime
2007-01-02 00:00:00  2007.01.02  00:00:00  118.98  118.98  118.94  118.94
2007-01-02 00:01:00  2007.01.02  00:01:00  118.97  118.97  118.94  118.96
2007-01-02 00:02:00  2007.01.02  00:02:00  118.97  118.97  118.94  118.95
2007-01-02 00:03:00  2007.01.02  00:03:00  118.97  118.97  118.94  118.94
2007-01-02 00:04:00  2007.01.02  00:04:00  118.97  118.97  118.95  118.95

目的変数追加

In [87]:
df['diff'] = df["close"].shift(-15) - df['close']
df = df[:-15]
df.tail()

                           date      time     open  ...      low    close   diff
datetime                                            ...
2019-12-31 23:37:00  2019.12.31  23:37:00  108.634  ...  108.633  108.636 -0.002
2019-12-31 23:38:00  2019.12.31  23:38:00  108.636  ...  108.636  108.637 -0.004
2019-12-31 23:39:00  2019.12.31  23:39:00  108.637  ...  108.637  108.638 -0.001
2019-12-31 23:40:00  2019.12.31  23:40:00  108.638  ...  108.624  108.629  0.016
2019-12-31 23:41:00  2019.12.31  23:41:00  108.629  ...  108.629  108.636  0.019

[5 rows x 7 columns]

In [88]:
df["open"].min()

75.607

In [89]:
# 上昇したら「1」、下降したら「0」へデータを変換
df["target"] = 0
mask1 = df['diff'] >= 0.05
mask2 = df['diff'] <= -0.05
column_name = 'diff'
df.loc[mask1, "target"] = 1
df.loc[mask2, "target"] = -1
df.tail()

                           date      time     open  ...    close   diff  target
datetime                                            ...
2019-12-31 23:37:00  2019.12.31  23:37:00  108.634  ...  108.636 -0.002       0
2019-12-31 23:38:00  2019.12.31  23:38:00  108.636  ...  108.637 -0.004       0
2019-12-31 23:39:00  2019.12.31  23:39:00  108.637  ...  108.638 -0.001       0
2019-12-31 23:40:00  2019.12.31  23:40:00  108.638  ...  108.629  0.016       0
2019-12-31 23:41:00  2019.12.31  23:41:00  108.629  ...  108.636  0.019       0

[5 rows x 8 columns]

In [90]:
df.resample("M").mean()

                  open        high         low       close      diff    target
datetime
2007-01-31  120.371160  120.379590  120.361397  120.370211  0.001018  0.006856
2007-02-28  120.464794  120.472976  120.455385  120.463723 -0.001374 -0.009991
2007-03-31  117.274341  117.285230  117.262830  117.273769 -0.000588  0.006289
2007-04-30  118.862697  118.870762  118.854017  118.862208  0.001148  0.007372
2007-05-31  120.709602  120.717034  120.701649  120.709165  0.001308  0.008009
...                ...         ...         ...         ...       ...       ...
2019-08-31  106.248834  106.257844  106.239878  106.248791 -0.001276 -0.013367
2019-09-30  107.446511  107.452828  107.440327  107.446564  0.001010  0.009895
2019-10-31  108.137950  108.143629  108.132267  108.137958 -0.000036 -0.000725
2019-11-30  108.854111  108.858647  108.849643  108.854160  0.000761  0.000901
2019-12-31  109.125427  109.129661  109.121134  109.125400 -0.000441 -0.004613

[156 rows x 6 columns]

テクニカル分析関数

説明変数追加

In [91]:
# 時間帯の傾向
df["hour"] = df.index.hour
df["dayweek"] = df.index.dayofweek
df.tail()

                           date      time     open  ...  target  hour  dayweek
datetime                                            ...
2019-12-31 23:37:00  2019.12.31  23:37:00  108.634  ...       0    23        1
2019-12-31 23:38:00  2019.12.31  23:38:00  108.636  ...       0    23        1
2019-12-31 23:39:00  2019.12.31  23:39:00  108.637  ...       0    23        1
2019-12-31 23:40:00  2019.12.31  23:40:00  108.638  ...       0    23        1
2019-12-31 23:41:00  2019.12.31  23:41:00  108.629  ...       0    23        1

[5 rows x 10 columns]

In [92]:
df["takane"] = df["close"] - df["close"].rolling(window=15).max()
df["yasune"] = df["close"] - df["close"].rolling(window=15).min()

In [93]:
# 騰落率
df["rise_rate"] = (df["close"] - np.round(df["close"].rolling(window=15).mean(), 3)) / np.round(df["close"].rolling(window=15).mean(), 3) * 100
df.tail()

                           date      time     open  ...  takane  yasune  rise_rate
datetime                                            ...
2019-12-31 23:37:00  2019.12.31  23:37:00  108.634  ...  -0.008   0.003  -0.001841
2019-12-31 23:38:00  2019.12.31  23:38:00  108.636  ...  -0.007   0.004   0.000000
2019-12-31 23:39:00  2019.12.31  23:39:00  108.637  ...  -0.006   0.005   0.000920
2019-12-31 23:40:00  2019.12.31  23:40:00  108.638  ...  -0.015   0.000  -0.006444
2019-12-31 23:41:00  2019.12.31  23:41:00  108.629  ...  -0.003   0.007   0.000921

[5 rows x 13 columns]

In [94]:
period = 14
df['adx'] = ta.ADX(df["high"], df["low"], df["close"], timeperiod=14)
df['di+'] = ta.PLUS_DI(df["high"], df["low"], df["close"], timeperiod=14)
df['di-'] = ta.MINUS_DI(df["high"], df["low"], df["close"], timeperiod=14)
df.tail()

                           date      time  ...        di+        di-
datetime                                   ...
2019-12-31 23:37:00  2019.12.31  23:37:00  ...  24.349181  25.343213
2019-12-31 23:38:00  2019.12.31  23:38:00  ...  23.377094  24.331441
2019-12-31 23:39:00  2019.12.31  23:39:00  ...  22.885135  23.819398
2019-12-31 23:40:00  2019.12.31  23:40:00  ...  17.079103  39.763952
2019-12-31 23:41:00  2019.12.31  23:41:00  ...  14.906916  34.706618

[5 rows x 16 columns]

In [95]:
# SAR
df["sar"] = df["close"] - ta.SAR(df["high"], df["low"], 0.02, 0.2)
df.tail()

                           date      time     open  ...        di+        di-    sar
datetime                                            ...
2019-12-31 23:37:00  2019.12.31  23:37:00  108.634  ...  24.349181  25.343213  0.003
2019-12-31 23:38:00  2019.12.31  23:38:00  108.636  ...  23.377094  24.331441  0.004
2019-12-31 23:39:00  2019.12.31  23:39:00  108.637  ...  22.885135  23.819398  0.005
2019-12-31 23:40:00  2019.12.31  23:40:00  108.638  ...  17.079103  39.763952 -0.010
2019-12-31 23:41:00  2019.12.31  23:41:00  108.629  ...  14.906916  34.706618 -0.003

[5 rows x 17 columns]

In [96]:
upper, middle, lower = ta.BBANDS(df['close'], timeperiod=21)
df["bb_up"] = df["close"] - upper
df["bb_mid"] = df["close"] - middle
df["bb_lower"] = df["close"] - lower
df.tail()

                           date      time  ...    bb_mid  bb_lower
datetime                                   ...
2019-12-31 23:37:00  2019.12.31  23:37:00  ... -0.003667  0.005679
2019-12-31 23:38:00  2019.12.31  23:38:00  ... -0.002333  0.006868
2019-12-31 23:39:00  2019.12.31  23:39:00  ... -0.001048  0.007926
2019-12-31 23:40:00  2019.12.31  23:40:00  ... -0.009286  0.000238
2019-12-31 23:41:00  2019.12.31  23:41:00  ... -0.001905  0.007309

[5 rows x 20 columns]

In [97]:
# MACDの計算
macd, macdsignal, macdhist = ta.MACD(df["close"], fastperiod=12, slowperiod=26, signalperiod=9)
df["macdhist"] = macdhist
df.tail()

                           date      time  ...  bb_lower  macdhist
datetime                                   ...
2019-12-31 23:37:00  2019.12.31  23:37:00  ...  0.005679 -0.000039
2019-12-31 23:38:00  2019.12.31  23:38:00  ...  0.006868  0.000266
2019-12-31 23:39:00  2019.12.31  23:39:00  ...  0.007926  0.000551
2019-12-31 23:40:00  2019.12.31  23:40:00  ...  0.000238  0.000168
2019-12-31 23:41:00  2019.12.31  23:41:00  ...  0.007309  0.000409

[5 rows x 21 columns]

In [98]:
# RSIの計算
df["rsi14"] = ta.RSI(df['close'], timeperiod=14)
df.tail()

                           date      time  ...  macdhist      rsi14
datetime                                   ...
2019-12-31 23:37:00  2019.12.31  23:37:00  ... -0.000039  37.922594
2019-12-31 23:38:00  2019.12.31  23:38:00  ...  0.000266  40.311196
2019-12-31 23:39:00  2019.12.31  23:39:00  ...  0.000551  42.686146
2019-12-31 23:40:00  2019.12.31  23:40:00  ...  0.000168  30.805954
2019-12-31 23:41:00  2019.12.31  23:41:00  ...  0.000409  43.886945

[5 rows x 22 columns]

In [99]:
# ROCP
df["rocp10"] = ta.ROCP(df["close"], timeperiod=10)
df.tail()

                           date      time  ...      rsi14    rocp10
datetime                                   ...
2019-12-31 23:37:00  2019.12.31  23:37:00  ...  37.922594  0.000009
2019-12-31 23:38:00  2019.12.31  23:38:00  ...  40.311196  0.000028
2019-12-31 23:39:00  2019.12.31  23:39:00  ...  42.686146  0.000000
2019-12-31 23:40:00  2019.12.31  23:40:00  ...  30.805954 -0.000083
2019-12-31 23:41:00  2019.12.31  23:41:00  ...  43.886945 -0.000028

[5 rows x 23 columns]

In [100]:
# 移動平均線
df["ema5"] = df["close"] - ta.EMA(df["close"], timeperiod=5)
df["ema25"] = df["close"] - ta.EMA(df["close"], timeperiod=25)
df["ema200"] = df["close"] - ta.EMA(df["close"], timeperiod=200)
df.tail()

                           date      time  ...     ema25    ema200
datetime                                   ...
2019-12-31 23:37:00  2019.12.31  23:37:00  ... -0.005475 -0.002435
2019-12-31 23:38:00  2019.12.31  23:38:00  ... -0.004131 -0.001421
2019-12-31 23:39:00  2019.12.31  23:39:00  ... -0.002890 -0.000417
2019-12-31 23:40:00  2019.12.31  23:40:00  ... -0.010976 -0.009323
2019-12-31 23:41:00  2019.12.31  23:41:00  ... -0.003670 -0.002300

[5 rows x 26 columns]

In [101]:
# 移動平均線乖離率
period = 15
#df["kairi"] =  ((df["close"] - df["close"].rolling(window=period).mean()) / df["close"].rolling(window=period).mean()) * 100
df.tail()

                           date      time  ...     ema25    ema200
datetime                                   ...
2019-12-31 23:37:00  2019.12.31  23:37:00  ... -0.005475 -0.002435
2019-12-31 23:38:00  2019.12.31  23:38:00  ... -0.004131 -0.001421
2019-12-31 23:39:00  2019.12.31  23:39:00  ... -0.002890 -0.000417
2019-12-31 23:40:00  2019.12.31  23:40:00  ... -0.010976 -0.009323
2019-12-31 23:41:00  2019.12.31  23:41:00  ... -0.003670 -0.002300

[5 rows x 26 columns]

In [102]:
# 標準偏差
#df['sd5'] = df["close"] - ta.STDDEV(df["close"], timeperiod=5)
#df['sd10'] = df["close"] - ta.STDDEV(df["close"], timeperiod=10)
#df['sd15'] = df["close"] - ta.STDDEV(df["close"], timeperiod=15)
df.tail()

                           date      time  ...     ema25    ema200
datetime                                   ...
2019-12-31 23:37:00  2019.12.31  23:37:00  ... -0.005475 -0.002435
2019-12-31 23:38:00  2019.12.31  23:38:00  ... -0.004131 -0.001421
2019-12-31 23:39:00  2019.12.31  23:39:00  ... -0.002890 -0.000417
2019-12-31 23:40:00  2019.12.31  23:40:00  ... -0.010976 -0.009323
2019-12-31 23:41:00  2019.12.31  23:41:00  ... -0.003670 -0.002300

[5 rows x 26 columns]

In [103]:
#df["tsf14"] = df["close"] - ta.TSF(df["close"], timeperiod=14)

In [104]:
#df["linearreg14"] = df["close"] - ta.LINEARREG(df["close"], timeperiod=14)

In [105]:
# 入れ替え及び削除
df = df.drop(["date", "time", "open", "high", "low", "close", "diff"], axis=1)
#df = df.loc[:,['target', "hour", "dayweek", "rise_rate", "adx", "di+", "di-", "sar", "bb_up", "bb_mid", "bb_lower", "macdhist", "rsi14", "rsi21", "rsi30", "sma5", "sma25", "sma200", "rocp10", "rocp15", "rocp20", "rocp50", "kairi", "sd", "sd50","tsf14","tsf21", "tsf20"]]
df.tail()

                     target  hour  dayweek  ...      ema5     ema25    ema200
datetime                                    ...
2019-12-31 23:37:00       0    23        1  ...  0.001215 -0.005475 -0.002435
2019-12-31 23:38:00       0    23        1  ...  0.001477 -0.004131 -0.001421
2019-12-31 23:39:00       0    23        1  ...  0.001651 -0.002890 -0.000417
2019-12-31 23:40:00       0    23        1  ... -0.004899 -0.010976 -0.009323
2019-12-31 23:41:00       0    23        1  ...  0.001401 -0.003670 -0.002300

[5 rows x 19 columns]

訓練データとテストデータの取得

In [106]:
from sklearn.model_selection import train_test_split

data = df.drop("target", axis=1)
target = df["target"]

X_train, X_test, y_train, y_test = train_test_split(data, target, shuffle=False, random_state=0, test_size=0.01)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)
print(np.sum(y_train == 1))
print(np.sum(y_train == 0))
print(np.sum(y_train == -1))

(4678114, 18)
(47254, 18)
(4678114,)
(47254,)
650919
3383508
643687

In [107]:
!pip install optuna
"""
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
"""

Requirement already satisfied: optuna in /usr/local/lib/python3.6/dist-packages (2.3.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from optuna) (4.41.1)
Requirement already satisfied: alembic in /usr/local/lib/python3.6/dist-packages (from optuna) (1.4.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from optuna) (0.17.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.6/dist-packages (from optuna) (20.7)
Requirement already satisfied: colorlog in /usr/local/lib/python3.6/dist-packages (from optuna) (4.6.2)
Requirement already satisfied: cliff in /usr/local/lib/python3.6/dist-packages (from optuna) (3.5.0)
Requirement already satisfied: cmaes>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from optuna) (0.7.0)
Requirement already satisfied: sqlalchemy>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from optuna) (1.3.20)
Requirement already satisfied: scipy!=1.4.0 in /usr/local/lib/python3.6/dist-packages (from optuna) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from optuna) (1.18.5)
Requirement already satisfied: Mako in /usr/local/lib/python3.6/dist-packages (from alembic->optuna) (1.1.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from alembic->optuna) (2.8.1)
Requirement already satisfied: python-editor>=0.3 in /usr/local/lib/python3.6/dist-packages (from alembic->optuna) (1.0.4)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging>=20.0->optuna) (2.4.7)
Requirement already satisfied: stevedore>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from cliff->optuna) (3.3.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from cliff->optuna) (1.15.0)
Requirement already satisfied: cmd2!=0.8.3,>=0.8.0 in /usr/local/lib/python3.6/dist-packages (from cliff->optuna) (1.4.0)
Requirement already satisfied: PrettyTable<0.8,>=0.7.2 in /usr/local/lib/python3.6/dist-packages (from cliff->optuna) (0.7.2)
Requirement already satisfied: PyYAML>=3.12 in /usr/local/lib/python3.6/dist-packages (from cliff->optuna) (3.13)
Requirement already satisfied: pbr!=2.1.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from cliff->optuna) (5.5.1)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.6/dist-packages (from Mako->alembic->optuna) (1.1.1)
Requirement already satisfied: importlib-metadata>=1.7.0; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from stevedore>=2.0.1->cliff->optuna) (3.1.1)
Requirement already satisfied: attrs>=16.3.0 in /usr/local/lib/python3.6/dist-packages (from cmd2!=0.8.3,>=0.8.0->cliff->optuna) (20.3.0)
Requirement already satisfied: pyperclip>=1.6 in /usr/local/lib/python3.6/dist-packages (from cmd2!=0.8.3,>=0.8.0->cliff->optuna) (1.8.1)
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from cmd2!=0.8.3,>=0.8.0->cliff->optuna) (0.2.5)
Requirement already satisfied: colorama>=0.3.7 in /usr/local/lib/python3.6/dist-packages (from cmd2!=0.8.3,>=0.8.0->cliff->optuna) (0.4.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=1.7.0; python_version < "3.8"->stevedore>=2.0.1->cliff->optuna) (3.4.0)

'\nfrom sklearn.preprocessing import StandardScaler\nsc = StandardScaler()\nX_train = sc.fit_transform(X_train)\n'

xgboost学習

In [108]:
import lightgbm as lgb
#import optuna.integration.lightgbm as lgb
from sklearn.metrics import accuracy_score
import pickle

In [115]:
# モデルの作成
lgb_train = lgb.Dataset(X_train, y_train)
lgb_eval = lgb.Dataset(X_test, y_test, reference=lgb_train)

#from sklearn.model_selection import KFold
#import optuna.integration.lightgbm as lgb

# ハイパーパラメータサーチ&モデル構築
params = {} 
params ['learning_rate'] = 0.01
params ['boosting_type'] = 'gbdt'
params ['objective'] = 'multiclass'
params ['metric' ] = 'multi_logloss'
params ['max_depth'] = 5
params ['num_class'] = 3
#params ["n_estimators"] = 1000

#lgb_clf = lgb.LGBMClassifier(**params)
#lgb_clf.fit(X_train, y_train)
#model = lgb.train(params,trains,valid_sets=valids)

# モデルの学習
model = lgb.train(params,
train_set=lgb_train, # トレーニングデータの指定
valid_sets=lgb_eval # 検証データの指定
)

"""

"""
"""
# clf = lgb.LGBMClassifier()

# ハイパーパラメータ探索
# 'learning_rate': [0.11],
#  'max_depth': [5],
param = {
         'learning_rate': [0.11],
        'max_depth': [15],
         'n_estimators':[2000]
        }
# max_depth=12,
# n_estimators=2000
"""

"""
xgb_clf = xgb.XGBClassifier(
    tree_method='gpu_hist',
    max_depth=10,
    n_estimators=1000
)
xgb1 = xgb.XGBClassifier()
xgb_grid = GridSearchCV(xgb1, param, cv = 3)
xgb_grid.fit(X_train, y_train)
"""

LightGBMError: ignored

In [64]:
# 学習モデルの保存、読み込み
#pickle.dump(lgb_clf, open("/content/drive/My Drive/Colab Notebooks/" + "model.pkl", "wb"))

In [116]:
clf = pickle.load(open("/content/drive/My Drive/Colab Notebooks/" + "model.pkl", "rb"))
print(clf)
#print(clf.best_score)
#print(clf.feature_importance)
#print(clf.params)
#lgb.plot_importance(clf)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.01, max_depth=5,
               metric='multi_logloss', min_child_samples=20,
               min_child_weight=0.001, min_split_gain=0.0, n_estimators=1000,
               n_jobs=-1, num_class=3, num_leaves=31, objective='multiclass',
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [ ]:
xgb_pred_train = clf.predict(X_train)
xgb_pred_test = clf.predict(X_test)
print("訓練データ")
print(accuracy_score(y_train ,xgb_pred_train))
print("テストデータ")
print(accuracy_score(y_test ,xgb_pred_test))

In [80]:
xgb_pred_train[:,0]

IndexError: ignored

In [67]:
# 成績の良いモデルを別で保存
# import pickle
# now = datetime.datetime.now()
# pickle.dump(xgb_grid.best_estimator_, open("/content/drive/My Drive/Colab Notebooks/" + "best_model_" + now.strftime('%Y%m%d_%H%M%S') + "now.pkl", "wb"))

In [68]:
"""
predict = clf.predict(X_train)
predict_valid = clf.predict(X_test)
y_pred = []
for x in predict:
    y_pred.append(np.argmax(x))

y_pred_valid = []
for x in predict_valid:
    y_pred_valid.append(np.argmax(x))

print("訓練データ")
print(accuracy_score(y_train ,y_pred))
print("テストデータ")
print(accuracy_score(y_test ,y_pred_valid))
"""
"""
xgb_pred_train = clf.predict(X_train)
xgb_pred_test = clf.predict(X_test)
print("訓練データ")
print(accuracy_score(y_train ,xgb_pred_train))
print("テストデータ")
print(accuracy_score(y_test ,xgb_pred_test))
"""

'\nxgb_pred_train = clf.predict(X_train)\nxgb_pred_test = clf.predict(X_test)\nprint("訓練データ")\nprint(accuracy_score(y_train ,xgb_pred_train))\nprint("テストデータ")\nprint(accuracy_score(y_test ,xgb_pred_test))\n'